# Postgres database URL. Make sure to add sslmode=disable if you're using local Postgres or unencrypted Postgres.
# Format: postgres://user:password@localhost:port/database?sslmode=disable
DATABASE_URL=postgres://ddrv:ddrv@localhost:5430/ddrv?sslmode=disable

# Username used for the FTP server, and eventually for HTTP as well
USERNAME=test

# Password used for the FTP server, and eventually for HTTP as well
PASSWORD=test

# FTP_ADDR sets the address for the FTP server. ":2525" means listening on "0.0.0.0:2525",
# which makes it accessible from outside the machine. Use "127.0.0.1:2525" for local access only.
FTP_ADDR=:2525

# If you're hosting your ddrv to the cloud you must open these ports in order for FTP to work properly.
# Defines the range of ports that can be used for passive FTP connections
# Enabling this option will enable PASV mode. Due to which if your ISP doesn't support port forwarding ddrv won't work.
# FTP_PORT_RANGE=45000-50000

# Discord webhook URLs. Use this for sending attachment messages to Discord channels.
# Can have multiple URLs separated by commas
DISCORD_WEBHOOKS=

# Defines the maximum size (in bytes) of chunks to be sent via Discord webhook.
# Discord has a limit on the maximum size of an individual message, this value is used to control that
DISCORD_CHUNK_SIZE=
